# Python bytecode
__pycache__/
*.py[cod]
*.pyo


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS별 임시 파일
.DS_Store
Thumbs.db

# pycharm 파일
.idea


Logs

Lib
Scripts
include
pyvenv.cfg
# Git ignore 파일
#.gitignore

testset_creation_results.json
testset_creation_failed_files.json